{# src/MC/EventBundle/Resources/views/Advert/myev.html.twig #}

{% extends "MCEventBundle::layout.html.twig" %}

{% block title %}
  Mon calendrier - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Mon calendrier d'évènements</h2>
  <h5>(Pour l'instant juste des annonces on verra plus tard le calendrier)</h5>

  <a class="btn btn-secondary btn-lg" href="{{ path('mc_event_list') }}">
    Recherche avancée d'événement(s)
  </a>

  <ul>
    {% for evenement in listEvenements %}
    <li>
      <a href="{{ path('mc_event_view', {'id': evenement.id}) }}">
        {{ evenement.nomEvenement }}
      </a><br />
     Organisé par {{ evenement.nomOrganisateur }}, le {{ evenement.debut|date('d/m/Y') }} à {{ evenement.debut|date('H:i:s') }}
    </li><br />
  {% endfor %}
    <a href="{{ path('mc_event_home') }}">Voir tous les évènements</a>
  </ul>

{% endblock %}