{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}MyCampus{% endblock %}</title>

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock %}
</head>



<body>
	{# <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav> #}
  <div class="container">
    <div id="header" class="jumbotron">
      <p>
		<div> {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				{% if is_granted('ROLE_ADMIN') %}
					Connecté(e) en tant que <a href="{{ path('fos_user_profile_show') }}"> {{ app.user.username }} </a> - Administrateur
				{% elseif is_granted('ROLE_ORGANISATEUR') %}
					Connecté(e) en tant que <a href="{{ path('fos_user_profile_show') }}"> {{ app.user.username }} </a> - Organisateur d'événements
				{% else %}
					Connecté(e) en tant que <a href="{{ path('fos_user_profile_show') }}"> {{ app.user.username }} </a>
			{% endif %}
			{% else %}
				Vous n'êtes pas connecté(e).
			{% endif %}
		</div>
		<hr>
        <a class="btn btn-primary btn-lg" href="{{ path('mc_event_home') }}">
		  Calendrier
        </a>
		<a class="btn btn-primary btn-lg" href="{{ path('mc_ca_home') }}">
		  Clubs&Assos
		</a>
		{% if app.user == null %}
		<a class="btn btn-primary btn-lg" href="{{ path('fos_user_security_login') }}">
		  Connexion
		</a>
		{% endif %}
		{% if app.user != null %}
		<a class="btn btn-primary btn-lg" href="{{ path('fos_user_security_logout') }}">
		  Déconnexion
		</a>
		{% endif %}
      </p>
    </div>
  

  <hr>

  <div class="row">
    <div id="menu" class="col-md-3">
	{% block menu %}
	{% endblock%}
	</div>
	<div id="content" class="col-md-9">
	{% block body %}
	{% endblock %}
	</div>
    
    
   </div>
   </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>