{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Evenement</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nomevenement</th>
                <td>{{ entity.nomEvenement }}</td>
            </tr>
            <tr>
                <th>Nomorganisateur</th>
                <td>{{ entity.nomOrganisateur }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ entity.dateDebut|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ entity.dateFin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Heuredebut</th>
                <td>{{ entity.heureDebut }}</td>
            </tr>
            <tr>
                <th>Heurefin</th>
                <td>{{ entity.heureFin }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ entity.descriptif }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('mycampus_event') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('mycampus_event_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
